
<%# <h1>Home Page</h1>
 <p>encuentra el match para tu video o para tu musica</p> %>

 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<%# imagen %>
<%# <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %> %>

<%# card %>
<%# <div class="container" >
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div> %>

<%# sobre %>
<%# <i class="fa-regular fa-envelope"></i> %>

<%# card %>
<%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div> %>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue enim ac turpis volutpat ultricies. Maecenas eget velit vulputate, finibus neque eget, congue odio. Curabitur tincidunt scelerisque turpis in posuere. Quisque porta, massa vitae commodo tincidunt, libero lorem posuere erat, sed viverra metus felis in augue. Proin aliquam mi vel varius imperdiet. Praesent mattis, mauris eu lobortis blandit, lorem elit volutpat massa, ut dignissim ipsum eros vitae felis. Curabitur ultricies ipsum velit, at gravida eros consectetur quis. Etiam vitae lectus pellentesque, molestie est eleifend, lacinia orci. Nulla facilisi. Vestibulum accumsan eu ligula sed dictum. Aliquam rutrum aliquet augue, a condimentum nisi congue ac. Curabitur quis arcu eu velit lacinia imperdiet non quis sem. Integer in fermentum metus, eu laoreet est. Vivamus at aliquet erat. Duis elementum aliquet tortor, quis dictum dolor pellentesque tristique. Maecenas ultricies purus dolor, et euismod eros laoreet sed.

Morbi dictum gravida tempor. Nunc ornare iaculis purus eu efficitur. Quisque ac posuere sapien, sit amet dapibus erat. Mauris tortor orci, semper eget auctor vitae, ultrices vitae elit. Suspendisse a vehicula mauris. Proin porta mi vitae arcu euismod euismod. Cras leo diam, ullamcorper lacinia vulputate ut, eleifend porta enim. Nullam elementum lacus non elit volutpat malesuada. Etiam lacinia non ex at semper. Quisque auctor tincidunt bibendum. Duis lobortis ante nec iaculis feugiat.

Quisque id velit eros. Proin et ligula risus. Nulla a turpis magna. Ut in elit ultricies, pellentesque orci nec, tincidunt risus. Ut faucibus suscipit arcu a consequat. Aliquam aliquet, nulla vitae tristique pellentesque, dui nulla hendrerit ante, in consectetur turpis dolor in orci. Donec elementum iaculis dolor, vel imperdiet metus ultricies id. Vivamus non turpis posuere, suscipit ligula at, molestie mauris. Integer quis rutrum mi. Suspendisse a sapien quis nunc sollicitudin accumsan. Donec orci leo, maximus molestie massa id, fermentum pellentesque urna. Phasellus pharetra condimentum justo nec sollicitudin. Nullam maximus efficitur mauris, a sagittis mi scelerisque ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam dapibus fermentum massa et tincidunt. Praesent fringilla luctus urna, eu vehicula ligula pretium ac.

Proin ut finibus sem. Mauris viverra efficitur ligula, vel porttitor tortor. In velit ipsum, fringilla pulvinar aliquet non, ullamcorper eleifend urna. Vestibulum efficitur nec purus quis dapibus. Pellentesque viverra ligula enim, sed commodo lectus tempus ut. Nunc sagittis, eros et egestas scelerisque, sem leo aliquam arcu, hendrerit ultricies nibh libero a mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget placerat ex. Pellentesque ultricies euismod purus ultrices mattis. Ut vel congue justo. Aliquam vel ligula lorem. Ut elit mauris, euismod sed sem sed, faucibus malesuada lectus. Sed ut ante at leo lobortis volutpat. Fusce velit velit, interdum vel sem ac, laoreet accumsan lectus. Quisque ipsum libero, varius ut ultrices vel, cursus vel lorem. Vivamus porttitor finibus congue.

Quisque nec lacus nisi. Quisque luctus ante nec consequat facilisis. Ut bibendum risus elit, fermentum interdum ipsum rhoncus id. Phasellus eget justo non urna suscipit porttitor volutpat et augue. Sed nec mauris tincidunt, cursus erat in, convallis dolor. Sed posuere rutrum dui, sit amet sodales est consequat ac. Vestibulum accumsan, enim sed ultrices aliquet, erat dolor sodales ipsum, eu volutpat nibh justo ac justo. Vivamus laoreet vel nisl vitae tincidunt. Vestibulum viverra sagittis leo ullamcorper condimentum. Phasellus maximus sollicitudin luctus.

Donec eget facilisis nibh. Pellentesque ac arcu convallis, ultrices augue sit amet, laoreet dui. Morbi ut vestibulum nulla. Donec sed libero iaculis, accumsan turpis in, feugiat nunc. Donec convallis magna sed nibh consequat, mattis interdum nulla posuere. Proin quis vehicula ante. Donec in lacinia nisl. Aenean dictum odio ut maximus viverra. Maecenas porttitor sem odio, a viverra lorem semper vitae. Pellentesque libero nibh, laoreet id metus eu, molestie tristique massa. Maecenas quam arcu, commodo id finibus in, posuere eu elit. Pellentesque ac ullamcorper nulla, vitae lacinia nulla.

Ut fringilla lorem quam, a condimentum odio hendrerit interdum. Quisque massa mi, iaculis vel accumsan non, vulputate in elit. Mauris dictum placerat magna, vel sollicitudin neque consequat quis. In auctor, dui vel ornare bibendum, massa justo vehicula enim, et egestas erat nibh in dolor. Maecenas varius quam a lobortis euismod. Quisque at tellus dictum turpis lobortis porttitor. Integer at dolor in turpis fermentum eleifend eu congue nulla.

Cras molestie, lectus sit amet efficitur sodales, sem sem pulvinar leo, hendrerit dignissim mauris elit id enim. Aenean bibendum mi odio, ut sagittis elit sollicitudin eu. Pellentesque bibendum efficitur dolor ac viverra. Donec et dignissim ipsum. Vestibulum mollis bibendum lectus, non eleifend urna. Fusce nulla dolor, molestie ut erat sit amet, viverra volutpat felis. Duis sapien enim, volutpat nec pellentesque ut, ullamcorper a mauris. Sed ut congue lacus. Nunc vel augue ut ipsum dictum venenatis et eget leo. Sed lectus lectus, malesuada ut aliquam a, faucibus ac lectus. Proin sodales, lacus a consectetur volutpat, ante augue mollis nisl, non egestas augue dui quis eros.

Nulla iaculis massa nec diam condimentum, id dictum metus rutrum. Curabitur arcu nulla, efficitur a libero ut, ornare maximus nibh. Proin vitae sem tincidunt, ultricies purus vel, imperdiet elit. Nunc velit nulla, gravida et semper et, convallis nec mi. Aliquam eget mattis libero. Aliquam erat volutpat. Duis auctor mi vitae est euismod blandit. In congue dui et enim vestibulum, vel faucibus nisl porttitor. Proin in enim maximus lectus vestibulum pellentesque et a dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam luctus mattis elementum. Nam in facilisis tellus. Nullam fringilla lobortis metus nec facilisis. Maecenas posuere turpis ac magna semper, id sollicitudin augue imperdiet. Proin dictum, turpis in viverra aliquam, ipsum dui vestibulum odio, molestie vulputate ex felis vel erat.

Ut pulvinar in lectus ut consequat. Praesent dignissim purus a elit fermentum feugiat. Aliquam arcu odio, convallis ut facilisis id, bibendum in diam. Duis scelerisque tortor sit amet lobortis varius. Maecenas blandit, augue lacinia dapibus varius, sem dolor faucibus sem, nec tempor tellus quam et libero. Integer faucibus urna non dui condimentum sollicitudin. Nunc blandit nibh sed justo tincidunt imperdiet. Quisque ante augue, pretium quis dolor at, dapibus iaculis arcu. Suspendisse pulvinar sollicitudin sollicitudin. Aliquam tempus et ex in tempus. Maecenas risus felis, hendrerit sit amet arcu non, egestas volutpat magna. Nulla sollicitudin tellus accumsan elit scelerisque, vitae porttitor ligula placerat. In et augue sit amet diam bibendum accumsan vel sit amet massa. Suspendisse condimentum volutpat eros, eu maximus erat vehicula sed. Pellentesque vehicula sapien hendrerit velit blandit, quis tempor velit aliquam. Duis dictum nibh eget ante elementum, et ultrices felis convallis.

Nulla luctus hendrerit lectus ut sodales. Phasellus ut tristique justo. Phasellus tortor diam, rutrum eget odio in, semper euismod turpis. Phasellus quis nisl in risus dignissim commodo sed eu velit. In mauris odio, pellentesque vel enim a, tempus consequat massa. Duis sollicitudin, diam sit amet vestibulum facilisis, ex dui mollis nisl, nec malesuada risus ligula ut nunc. Curabitur pulvinar euismod risus, ac dictum arcu malesuada sed. Maecenas nec fermentum lectus, non efficitur velit. Curabitur ac nibh non ligula sagittis dapibus. Phasellus ornare sem ac dignissim accumsan. Nulla at orci gravida, pretium eros non, consequat turpis. Integer vitae leo sed leo vulputate gravida.

Phasellus a nunc aliquam, semper mauris a, finibus dolor. Donec id orci luctus, blandit quam eu, condimentum lacus. Fusce quis mauris a urna tincidunt venenatis. Donec pretium fringilla orci, quis congue lorem aliquet ut. Vestibulum blandit odio eget mauris lobortis, sodales rutrum massa tristique. Integer pretium sem a metus posuere, nec elementum leo vehicula. Phasellus viverra vulputate elit, ac facilisis lorem pretium id. Etiam cursus convallis mauris vel gravida. Donec ultrices at dui quis euismod. Integer laoreet, lectus imperdiet mattis venenatis, lorem elit cursus lectus, sed volutpat quam velit id tellus.

Nam lectus nunc, eleifend et magna vel, pharetra viverra felis. Mauris mauris ex, aliquam quis arcu non, tristique auctor eros. Duis sit amet sem fringilla, consequat ex sit amet, consectetur ipsum. Sed eget augue nisi. Donec arcu tortor, pretium et vestibulum ornare, viverra vitae nibh. Nullam in efficitur ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae sapien dui. Morbi egestas libero ac tellus placerat vehicula. Nunc quis commodo nibh.

Sed malesuada, risus a tempor elementum, metus velit interdum felis, sit amet consequat odio sem in tortor. Nam varius convallis hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In congue maximus libero quis tempus. Fusce in placerat magna, sed feugiat dolor. Sed gravida erat porttitor eros suscipit, sed rhoncus lacus convallis. Curabitur ullamcorper orci nisl, eget dignissim libero lobortis nec. Maecenas molestie lobortis ligula ac pulvinar. Maecenas a felis varius, pellentesque massa a, rhoncus mauris. Donec dignissim enim ac euismod accumsan. Vivamus pellentesque posuere dolor, sed scelerisque ligula gravida eu. Pellentesque mollis non dui eu volutpat. Suspendisse potenti. Nulla convallis, tortor id semper sagittis, nisi eros molestie turpis, sit amet elementum sem turpis et nisi. Aenean placerat porta nisl eget accumsan.

Cras quis vulputate arcu, non posuere nulla. Nulla consequat purus quis mauris pellentesque, sed gravida eros accumsan. Suspendisse potenti. Praesent tempor vulputate lacus sit amet suscipit. Curabitur vitae ante tempor, dapibus nunc in, ultrices purus. Proin iaculis enim non nunc aliquet ornare. Nulla pharetra tortor eget velit pulvinar consequat. Pellentesque aliquet interdum lorem pretium semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

In luctus nibh id ante fermentum auctor. Praesent id sem urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque tempus lacus velit, at consequat sapien egestas eget. Curabitur varius, est at elementum euismod, felis libero congue nulla, in ornare nisi nunc ut arcu. Pellentesque iaculis id dolor a dapibus. Sed efficitur, libero vitae convallis vehicula, risus urna facilisis metus, pharetra consequat ligula sem ut turpis. Phasellus aliquam ultrices augue non rutrum. Maecenas mauris ante, bibendum vel ultrices ac, vehicula et mi. Quisque semper blandit dolor, ut sodales erat iaculis sed. Fusce id tellus sodales, rhoncus sem a, iaculis tortor. Curabitur eu cursus nisl.

Aenean dignissim justo sed volutpat varius. Sed pellentesque faucibus elit eu auctor. Mauris non justo vel sapien placerat vestibulum nec vulputate purus. Morbi dictum neque lobortis, lobortis felis sed, maximus massa. Etiam ligula ante, accumsan eu venenatis sed, egestas vitae nulla. Curabitur et massa rutrum, elementum eros et, porta lorem. Etiam vehicula nulla eu lacus fermentum, a euismod mi fringilla. Sed a nisi et eros interdum posuere. Aenean quis porta nibh. Sed gravida non tellus ac ornare. Cras cursus laoreet tempor. Mauris tempor vitae nunc sed laoreet. Suspendisse pulvinar blandit dolor, quis gravida turpis eleifend ut. Phasellus sagittis semper ligula eu tristique. Maecenas vel justo neque.

Etiam velit augue, iaculis in dignissim a, tempor a turpis. Nulla convallis tempus mattis. Maecenas ultrices sollicitudin ultricies. Duis cursus orci eu magna suscipit, eget finibus turpis pretium. Donec venenatis condimentum lacus a auctor. Donec nec diam at nisl dapibus convallis. Aenean odio mi, vehicula vitae euismod vitae, efficitur quis urna.

Integer sagittis orci sed rhoncus tincidunt. Nunc ut orci blandit, ultricies erat a, aliquam purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Donec magna arcu, tincidunt mollis sapien non, ornare volutpat ex. Aenean scelerisque tempus metus. Vestibulum consequat condimentum ligula et dapibus. Praesent vulputate ex augue, vehicula ultricies justo imperdiet ac. Maecenas euismod mauris ut eros eleifend bibendum. Nunc quis metus tortor. Vestibulum nec libero a urna pharetra tempor. Mauris ultricies efficitur urna id posuere. Sed semper ut mi nec accumsan.

Ut mattis porta orci nec mollis. Nam fringilla quam nibh, posuere viverra nibh consectetur vel. Mauris euismod erat vel lectus dictum, vitae lobortis quam sollicitudin. Mauris vel iaculis felis, a semper sapien. Phasellus ex dui, cursus quis risus iaculis, dapibus luctus ligula. Nullam non posuere enim. Nam laoreet eleifend diam, in lacinia diam pretium vitae. Donec ut malesuada nulla, vitae iaculis ex. Cras vehicula sit amet sem ut malesuada. Pellentesque aliquam, nisi consectetur placerat malesuada, mauris enim maximus arcu, et consectetur nibh diam ultrices velit.


